@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Core application name: @Demo.Solution.Core.Constants.CoreApplicationName</p>
    @*#if (includeAddons)
    <p>Addons application name: @Demo.Solution.Addons.Constants.AddonsApplicationName</p>
    #endif*@
</div>
