@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@Model.Name | Demo Project</title>
    <link href="~/css/demo-project.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/css/images/favicon.ico" />
    @await RenderSectionAsync("styles", required: false)
</head>
<body>
    @RenderBody()
    @await RenderSectionAsync("scripts", required: false)
    </body>
</html>